.about-icon{
    text-align: center;
 
  
}
.about-icon img{
    width: 35%;
}
.about-h1{
    font-size: 2rem;
    margin-top: 1.5rem ;
}
.about-p{
    margin: 0;
}
@media screen and (max-width :650px)  {
    .about-p{
        font-size: 1.5rem;
    }
}